.card {
	display: grid;
	align-items: center;
	row-gap: 1.5rem;
	width: 80%;
	margin: 2rem auto;
	padding: 2rem;
	background: var(--black);
	border: 0.1rem solid var(--light-grey);
	box-shadow: 0.2rem 0.2rem 0.4rem var(--black);
	filter: drop-shadow(0.2rem 0.2rem 0.5rem var(--black));
	-webkit-filter: drop-shadow(0.2rem 0.2rem 0.5rem var(--black));

	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
	-moz-border-radius: 0.8rem;
	-ms-border-radius: 0.8rem;
	-o-border-radius: 0.8rem;
}

.text {
	display: grid;
	line-height: 1.2;
}

.title {
	font-size: var(--h4);
	color: currentColor;
	line-height: 1;
}

.title a {
	color: inherit;
	line-height: inherit;
}

.description {
	font-size: var(--tiny-text);
	font-family: 'Montserrat';
	padding: 1rem;
	text-overflow: ellipsis;
	overflow-y: hidden;
	white-space: normal;
	line-height: 1.5;
	height: 7rem;
	width: 70%;

	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.details {
	display: flex;
	justify-content: flex-end;
}

.details span {
	margin: 0 2rem;
}
