/* Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Fira Sans font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

:root {
	font-size: 62.5%;

	--h1: clamp(4.2rem, 10vw, 6.5rem);

	--h2: clamp(2.5rem, 10vw, 5.5rem);

	--h3: clamp(2rem, 10vw, 3rem);

	--h4: clamp(0.8rem, 10vw, 2.5rem);

	--small-text: clamp(0.8rem, 10vw, 2rem);

	--tiny-text: clamp(0.5rem, 10vw, 1.4rem);

	--white: #ffffff;
	--black: #292929;
	--light-black: #3a373e;
	--light-grey: #cecece;
	--pale-yellow: #f3d18e;
}

body {
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--light-black);
	color: var(--white);
}
